@font-face {
    font-family: 'font';
    src: url('fonts/font.ttf');
}

body {
    background-color: #2e2e2e;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

p {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: grid;
    grid-template-columns: 80px auto 80px 80px 100px;
    align-items: center;
    gap: 50px;

    width: 100%;
    height: 60px;
    background-color: #4a4a4a;
    box-shadow: 0 0 20px 2px grey;
}

.header-btn {
    box-sizing: border-box;
    font-family: font;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
}

.header-btn:hover {
    transform: scale(105%);
    box-shadow: 0 0 10px 1px #b380ff;
    color: #b380ff;
    transition: transform, box-shadow, color, 0.5s;
}

.header-btn a{
    box-sizing: border-box;
    font-family: font;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
}

.header-btn a:hover {
    transform: scale(105%);
    box-shadow: 0 0 10px 1px #b380ff;
    color: #b380ff;
    transition: transform, box-shadow, color, 0.5s;
}

.clients-list {
    margin-top: 5%;
}

.clientsTable {
    display: grid;
    grid-template-columns: 150px 250px 250px 100px 100px;
    gap: 3px;
}

.clientAttr {
    min-height: 30px;
    background-color: #2e2e2e;
    box-shadow: 0 0 15px 1px darkgrey;
    margin-top: 3px;
    border-radius: 5px;
    font-family: font;
    text-align: center;
    align-content: center;
    color: white;
    cursor: default;
}

.clientAttr:hover {
    transform: scale(105%);
    box-shadow: 0 0 15px 5px #b380ff;
    transition: transform, box-shadow, 0.5s;
}

.clientAttrH {
    min-height: 30px;
    background-color: #2e2e2e;
    box-shadow: 0 0 15px 1px darkgrey;
    margin-top: 3px;
    border-radius: 5px;
    font-family: font;
    text-align: center;
    align-content: center;
    color: white;
    cursor: default;
}

.addClientModal {
    display: block;
}

form {
    display: flex;
    height: 30px;
    margin: 30px 0px 0px 30px;
    gap: 20px;
    align-items: center;
}

.clientAdd {
    width: 180px;
    height: 30px;
    box-sizing: border-box;
    font-family: font;
    background-color: #4a4a4a;
    color: white;
    border: none;
    caret-color: darkgray;
    border-radius: 15px;
    resize: none;
}

.clientAdd:focus {
    outline: none;
    color: #b380ff;
    transform: scale(103%);
    box-shadow: 0 0 10px 1px #b380ff;
    transition: transform, box-shadow, color, 0.5s;
}

.clientAddBtn {
    box-sizing: border-box;
    font-family: font;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #4a4a4a;
    border: None;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.clientAddBtn:hover {
    transform: scale(105%);
    box-shadow: 0 0 10px 1px #b380ff;
    color: #b380ff;
    transition: transform, box-shadow, color, 0.5s;
}
