@font-face {
    font-family: 'font';
    src: url('fonts/font.ttf');
}

/* ---------- МЕЙН ----------*/

body {
    background-color: #2e2e2e;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

p {
    margin: 0px;
    padding: 0px;
}

.background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.shadow {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

/* ---------- ШАПКА ----------*/

.header {
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 100px auto 100px 100px 100px;
    align-items: center;
    gap: 30px;

    width: 100%;
    height: 60px;
    background-color: #2e2e2e;
    box-shadow: 0 0 20px 1px #00365c;
}

.header-btn {
    box-sizing: border-box;
    font-family: font;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
}

.header-btn:hover {
    transform: scale(105%);
    box-shadow: 0 0 10px 1px #005c9e;
    color: #005c9e;
    transition: transform, box-shadow, color, 0.5s;
}

.header-btn a{
    box-sizing: border-box;
    font-family: font;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
}

.header-btn a:hover {
    transform: scale(105%);
    color: #005c9e;
    transition: transform, color, 0.5s;
}

/* ---------- СПИСОК КЛИЕНТОВ ----------*/

.mainClientList {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients-list {
    margin: 5% 0 5% 0;
}

.clientsTable {
    display: grid;
    grid-template-columns: 150px 250px 250px 100px 100px;
    gap: 3px;
}

.clientAttrImp {
    min-height: 30px;
    background-color: #3d3d3d;
    box-shadow: 0 0 5px 1px #00365c;
    margin-top: 5px;
    border-radius: 5px;
    font-family: font;
    text-align: center;
    align-content: center;
    color: white;
    cursor: default;
    resize: none;
    caret-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.clientAttrImp:hover {
    transform: scale(105%);
    box-shadow: 0 0 15px 5px #005c9e;
    transition: transform, box-shadow, 0.5s;
}

.clientAttrImp:focus {
    outline: none;
}

.clientAttr {
    min-height: 30px;
    background-color: #3d3d3d;
    box-shadow: 0 0 5px 1px #00365c;
    margin-top: 5px;
    border-radius: 5px;
    font-family: font;
    text-align: center;
    align-content: center;
    color: white;
    cursor: default;
    resize: none;
    caret-color: transparent;
}

.clientAttrH {
    min-height: 30px;
    background-color: #3d3d3d;
    box-shadow: 0 0 5px 1px #00365c;
    margin-top: 3px;
    border-radius: 5px;
    font-family: font;
    text-align: center;
    align-content: center;
    color: white;
    cursor: default;
}

/* ---------- ДОБАВАЛЕНИЕ КЛИЕНТА ----------*/

.addClient {
    display: block;
    position: relative;
    z-index: 3;
}

form {
    display: flex;
    height: 30px;
    margin: 30px 0px 0px 0px;
    gap: 20px;
    align-items: center;
}

.clientAdd {
    width: 180px;
    height: 30px;
    box-sizing: border-box;
    font-family: font;
    background-color: #4a4a4a;
    color: white;
    border: none;
    caret-color: darkgray;
    border-radius: 15px;
    resize: none;
    text-align: center;
    align-content: center;
}

.clientAdd:focus {
    outline: none;
    color: #005c9e;
    transform: scale(103%);
    box-shadow: 0 0 10px 1px #005c9e;
    transition: transform, box-shadow, color, 0.5s;
}

.clientAddBtn {
    box-sizing: border-box;
    font-family: font;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #4a4a4a;
    border: None;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.clientAddBtn:hover {
    transform: scale(105%);
    box-shadow: 0 0 10px 1px #005c9e;
    color: #005c9e;
    transition: transform, box-shadow, color, 0.5s;
}

/* ---------- ИНФО О КЛИЕНТЕ ----------*/

.mainClientInfo {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 98%;

    box-sizing: border-box;
    padding: 50px 50px;
}

.clientInfo-frame {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    min-height: 100px;
    gap: 2%;
}

.clientInfo {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 50%;
    grid-template-columns: 100%;
    height: 100px;
    width: 100%;
    gap: 5px;
    padding: 10px 0px;

    text-align: center;

    font-family: font;
    color: white;
    box-shadow: 0 0 10px 1px #00365c;
    border-radius: 10px;
    background-color: #2e2e2e;
}

.clientInfo:hover {
    transform: scale(115%);
    box-shadow: 0 0 10px 1px #005c9e;
    transition: transform, 0.4s;
}

.clientInfoMeta {
    min-height: 35px;
    background-color: #2e2e2e;
    resize: none;
    outline: none;
    border: none;
    border-radius: 15px;
    text-align: center;

    font-family: font;
    color: white;
    caret-color: transparent;
    cursor: default;
}
