{% extends 'base.html' %}

{% block pageTitle %}Добавить клиента{% endblock %}

{% block pageBody %}
<form action='/' method="post">
    <input type="text" name="name" id="name" class="clientAdd" placeholder=" Имя" required>
    <input type="text" name="contact" id="contact" class="clientAdd" placeholder=" Контакт" required>
    <input type="text" name="note" id="note" class="clientAdd" placeholder=" Заметка">
    <button class="clientAddBtn" type="sumbit">Добавить</button>
</form>
{% endblock %}
