<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pageTitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='css/img/back.jpg') }}" class="background">
    <div class="shadow"></div>
    <div class="header">
        <div class="header-btn">
            <a href="http://localhost:5000/home">Home</a>
        </div>
        <div></div>
        <div class="header-btn">
            {% block headerClients %}{% endblock %}
        </div>
        <div class="header-btn">
            <p>Projects</p>
        </div>
        <div class="header-btn">
            <p>Deadlines</p>
        </div>
    </div>

    {% block pageBody %}{% endblock %}
</body>
