{% extends 'base.html' %}

{% block pageTitle %}Клиенты{% endblock %}
{% block headerClients %}<a href="http://localhost:5000/AddClients">Add clients</a>{% endblock %}
{% block pageBody %}
<div class="mainClientList">
    <div class="clients-list">
        <div class="clientsTable">
            <div class="clientAttrH">
                <p>Имя</p>
            </div>
            <div class="clientAttrH">
                <p>Контакты</p>
            </div>
            <div class="clientAttrH">
                <p>Заметка</p>
            </div>
            <div class="clientAttrH">
                <p>Статус</p>
            </div>
            <div class="clientAttrH">
                <p>Добавлен</p>
            </div>
        </div>
        {% for i in articles | reverse%}
        <div class="clientsTable">
            <a class="clientAttrImp" href="/Client/{{ i.id }}/info">
                {{i.name}}
            </a>
            <div class="clientAttr">
                <p>{{i.contact}}</p>
            </div>
            <textarea type="text" class="clientAttrImp" readonly>{{i.note}}</textarea>
            <div class="clientAttr">
                <p>{{i.status}}</p>
            </div>
            <div class="clientAttr">
                <p>{{i.created_at}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
